*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://img.freepik.com/free-photo/cascade-boat-clean-china-natural-rural_1417-1356.jpg?w=996&t=st=1726201651~exp=1726202251~hmac=faeb86d92819f901daa1d4434dcf05afed2971a746b2c506a9eb36c6d21de6d8);
   background-repeat: no-repeat;
   background-size: cover;
}



h1{
    text-align: center;
    color:rgb(78, 85, 68);
}

form{
    max-width: 600px;
    margin: auto;
    background-color: greenyellow;
    border-radius: 8px;
    border: width 5px 5px 5px 5px ; 
    background-color: green;
    border-style: groove;
    box-shadow:  0 4px 8px rgb(0, 0, 0, 0, 5);
    padding: 20px;

}
fieldset{
    border: 2px solid greenyellow;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    
}

legend{
    font-weight: bold;
    text-align: left;
    color: #2c3e50;
}

label{
    display: block;
    margin-top:10px ;
    color: #2c3e50;
}

input,textarea{
width:color(100%-1px);
padding: 8px;
margin-top: 4px;
border: 1px solid rgba(250, 255, 243);
border-radius: 4px;
box-sizing: border-box;
}

button{
    display: block;
    width: 90px;
    height:70 ;
    padding: 10px;
    background-color: rgb(191, 55, 55);
    color: white;
    border: 3px solid black;
    border-radius: 4px ;
    cursor: pointer;
    margin-top:10px;
    font-size: 15px;
    font-size:sans-serif;
    margin-right: 30px;
}

button:hover{
    background-color: rgb(113, 151, 57);
}


#resumeOutput{
    max-width: 600px;
    margin: auto;
    background-color: greenyellow;
    border-radius: 8px;
    border: width 5px 5px 5px 5px ; 
    background-color: green;
    border-style: groove;
    box-shadow:  0 4px 8px rgb(0, 0, 0, 0, 5);
    padding: 20px;

}
#resumeOutput h2 {
    color: #2c3e50;
}

